body {
    background-image: url('../../images/loginBodyBackground.jpg');
}

.loginBox{
    position: absolute;
    top: 50%;
    left: 30%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: linear-gradient(#b613cc, #000000);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 6);
    border-radius: 10px;
}

.loginBox h2 {
margin: 0 0 30px;
padding: 0;
color: white;
text-align: center;
}

.loginBox .userBox {
    position: relative;

}

.loginBox .userBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin: 10px 0 10px 0;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.loginBox .userBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.loginBox .userBox input:focus~label{
    top: -10px;
    left: 0;
    color: #a7f730;
    font-size: 12px;
}

.loginBox form button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: grey;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px;
}

.loginBox button:hover {
    background: purple;
    color: white;
    border-radius: 5px;

}

.loginBox .userBox p{
    color: #a7f730;
    font-size: 13px;
    font-weight: bold;
    text-align: start;
    margin: 5px 0 20px 0;
}
