.detailsContainer{
    max-width: 100%;
}

.detailsContainer .detailsTitle{
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 15px 0 35px 0;
}

.characterInfo .nameSpan{
    color: aquamarine;
}

.characterDetails{
    display: flex;
    justify-content:space-around;
    background-color: #1a2122;
    opacity: 0.95;
    border-radius: 10px;
    margin: 0 100px;
    padding: 50px;
}

.characterDetails .characterImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.characterDetails .characterImage img{
    border-radius: 50%;
}

.detailsContainer hr{
    margin: 0;
    border: solid 2px black;
}

.characterDetails .characterInfo{
    color: #ffffff;
    font-size: 20px;
    width: 40%;
}

.characterInfo h2{
    color: #97ce4c;
    margin: 0;
}

.characterInfo .idDetails{
    margin-top: 0;
}