.barContainer{
    width: 30%;
    background-color: black;
    padding: 13px;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 0 10px;
    margin: 0 0 0 auto;
}

input{
    width: 70%;
    background-color: #D8E3E7;
}

.searchButton{
    width: 25%;
    background-color: #132C33;
    color: white;
}

input,
.searchButton{
    padding: 8px 10px;
    border-radius: 3px;
    border: none;
}